@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&display=swap');

body{
    margin: 0%;
    padding: 0%;
    background-color: rgba(0, 0, 0, 0.844);
}

.inner-div{

}

.singin-email input:focus {
    border: 2px solid green;
}