@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&display=swap');

body{
    margin: 0%;
    padding: 0%;
    background-color: rgb(16, 15, 15);
}

.inner-div{

}

.singin-email input:focus {
    border: 2px solid green;
}

.signup-coloring{
    background-color: rgb(17, 236, 79);
}
.signup-coloring:hover{
    background-color: rgb(57, 238, 108);
}

.signup-coloring1{
    color: rgb(17, 236, 79);
}

.signup-coloring1:hover{
    color: rgb(17, 236, 79);
}

.display-control{
    max-width: 300px;
}

@media screen and (max-width: 600px) {
    .display-control{
        width: 100%;
    }
}