@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&display=swap');


/* Making body of the page with 0 margins and 0 paddings */
body{
    margin: 0%;
    padding: 0%;
}

.browser-div{
    background-image: linear-gradient(rgb(59, 59, 59), black);
    /* height: 120vh; */
    padding-bottom: 20px;
}

.center-div{
    background-color: rgb(16, 15, 15);
    border-radius: 20px;
}

.group-button{
    border: 1px solid rgba(255, 255, 255, 0.622);
}
.group-button:hover{
    border: 1px solid white;
}

.for-email, .for-password{
    border:grey 1px solid;
    width: 45%;
    padding: 10px;
    border-radius: 5px;
}

.for-email:hover, .for-password:hover{
    border: 1px solid white
}

.button-div button{
    background-color: #3be477;
    color: black;
    font-weight: bolder;
    padding: 15px;
}
.button-div button:hover{
    background-color: #1ed760;
    color: black;
    font-weight: bolder;
}

.link1, .link2{
    color: white;
}

.link1:hover, .link2:hover{
    color: #1ed760;
}

/* This is for correcting the logo image proportions according to the page  */
.logo-image{
    height: 40px;
    width: 40px;
}

.footer{
    background-color: rgb(16, 15, 15);
}


@media screen and (max-width: 640px) { /*Mobile phone screen resolution*/
    .center-div, .for-email{
        width: 90%;
    }        
    .continue-with-buttons{
        width: 100%;
    } 
    .cwf{
        font-size: smaller;
    }       
    .cwpn{
        font-size: smaller;
    }
    .white-line{
        width: 100%;
    }
}

@media screen and (min-width: 641px) and (max-width:768px) {
    .center-div{
        width: 42%;
    } 
    .continue-with-buttons{
        width: 100%;
    }
    .for-email{
        width: 70%;
    }
}
@media screen and (min-width: 769px) and (max-width:1024px) {
    .center-div{
        width: 42%;
    }    
    .continue-with-buttons{
        width: 75%;
    }
    .for-email{
        width: 80%;
    }
}

@media only screen and (min-width: 1025px) and (max-width:1440px){
    .center-div{
        width: 42%;
    }
    .continue-with-buttons{
        width: 60%;
    }
    .for-email{
        width: 70%;
    }
         
}

@media only screen and (min-width:1441px){ /*My laptop screen resolution*/
    .center-div{
        width: 35%;
    }
    .continue-with-buttons{
        width: 60%;
    }
    .for-email{
        width: 70%;
    }
}

/* @keyframes lg-spotify {
    from {
      transform: translateX(0%);
    }
  
    to {
      transform: translateX(100%);
    }
  } */

/* .for-email:invalid, .for-password:invalid{
    border: 2px solid red;
}

.for-email:valid, .for-password:valid{
    border: 2px solid green;
} */
