@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&display=swap');

/* Making body of the page with 0 margins and 0 paddings */
body{
    margin: 0%;
    padding: 0%;
    background-color: black;
    color: white;
}
.styling1{
    text-align: center;
}
.styling{
    border: 2px solid white;
    padding: 3px 15px;
}

.button-div button{
    background-color: #1ed760;
}

.button-div button:hover{
    background-color: #3be477;
}

@media screen and (min-width: 426px), (max-width: 768px) {
    .number-input-div{
        width: 60%;
    }
}
@media screen and (min-width: 769px), (max-width: 1024px) {
    .number-input-div{
        width: 60%;
    }
}
@media screen and (min-width: 1025px), (max-width: 1440px) {
    .number-input-div{
        width: 40%;
    }
}
@media screen and (min-width: 1441px){
    .number-input-div{
        width: 20%;
    }
}
