@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&display=swap');

/* Making body of the page with 0 margins and 0 paddings */
body{
    margin: 0%;
    padding: 0%;
    background-color: black;
    color: white;
}


.styling{
    border: 2px solid white;
    padding: 3px 15px;
    width: 500px;
}